body {
	background: url('../clima.gif');
}

body main {
	display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100dvh;
    background-color: rgba(0,0,0, .7);
}

body h1 {
	font-size: 3.5rem;
	color: #FFF;
	text-align: center;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

body .modal-header h1 {
	color: #000;
	margin: 0;
}

body strong {
	font-size: 1.5rem;
	color: #FFF;
}

body main button {
	font-size: 1.5rem !important;
	font-weight: bold !important;
}

body .card {
	border-radius: 12px;
}

body .list-group .list-group-item {
	padding: .75rem 0;
	background-color: transparent;
	border-color: #DEDEDE;
}